@import '../../../styles/helpers/variables';

h3{
  margin-bottom: 1rem;
}
.layerList{
  display:flex;
  flex-direction: column;
}

.layer{
  display:flex;
  flex-direction:row;
  padding:0.5rem;
  border-radius: $alert-radius;
  align-items: center;
  justify-content: stretch;
}

.layer input{
  margin-right: .5rem;
}

.layer:hover{
  background-color: $secondary-color;
  color: $primary-color;
  cursor: pointer;
}

.dnd{
  margin-right: 1rem;
}

.actions{
  margin-left: 1rem;
}

.layer:hover > label, .layer label:hover{
  color: $primary-color;
  cursor: pointer;
}

label{
  font-weight: normal;
}


.activeGrid{
  color: #0088ff;
}

.gridIcon {
  margin-right: .5rem;
}