<div class="btn-group actionlist">
  <button type="button" class="btn btn-primary {{drawAction === 'bbox' ? 'active' : ''}}" (click)="setDrawAction('bbox')"><i class="fa fa-square-o"></i></button>
  <button type="button" class="btn btn-primary {{drawAction === 'polygon' ? 'active' : ''}}" (click)="setDrawAction('polygon')"><i class="fa fa-star-o"></i></button>
  <button type="button" class="btn btn-primary {{drawAction === 'circle' ? 'active' : ''}}" (click)="setDrawAction('circle')"><i class="fa fa-circle-o"></i></button>
  <button type="button" class="btn btn-primary {{drawAction === 'point' ? 'active' : ''}}" (click)="setDrawAction('point')"><i class="fa fa-map-marker"></i></button>
  <button type="button" class="btn btn-primary {{drawAction === 'custom' ? 'active' : ''}}" (click)="setDrawAction('custom')"><i class="fa fa-pencil-square-o"></i></button>

</div>

<div class="projection">
  <i class="fa fa-globe"></i><select (change)="selectProjectionSystem($event.target.value)"><option value="EPSG:3857">EPSG:3857</option><option value="EPSG:4326">EPSG:4326</option></select>
</div>

<div *ngIf="drawAction == 'bbox'">
  <h1>Bounding box</h1>
  <div *ngIf="featureList['bbox']">
    <div *ngFor="let feature of featureList['bbox']" class="featureInfo" (click)="selectFeature(feature)">
      <h3>Bounding box</h3>
      <p>{{getBoundingBox(feature)}}</p>
      <h3>GeoJSON</h3>
      <p>
        {{formatFeatureGeometry(feature)}}
      </p>
    </div>
  </div>
</div>

<div *ngIf="drawAction == 'polygon'">
  <h1>Polygon</h1>
  <div *ngIf="featureList['polygon']">
    <div *ngFor="let feature of featureList['polygon']" class="featureInfo" (click)="selectFeature(feature)">
      <h2>Feature</h2>
      <h3>GeoJSON</h3>
      <p>
        {{formatFeatureGeometry(feature)}}
      </p>
    </div>
  </div>
</div>

<div *ngIf="drawAction == 'point'">
  <h1>Point</h1>
  <div *ngIf="featureList['point']">
    <div *ngFor="let feature of featureList['point']" class="featureInfo" (click)="selectFeature(feature)">
      <h3>Location</h3>
      <table>
        <tr *ngFor="let info of feature.getProperties()['Address'] | keys" >
          <th>{{info}}:</th>
          <td>{{feature.getProperties()['Address'][info]}}</td>
        </tr>
      </table>
      <h3>GeoJSON</h3>
      <p>
        {{formatFeatureGeometry(feature)}}
      </p>

    </div>
  </div>
</div>

<div *ngIf="drawAction == 'circle'">
  <h1>Circle</h1>
  <div *ngIf="featureList['circle']">
    <div *ngFor="let feature of featureList['circle']" class="featureInfo" (click)="selectFeature(feature)">
      <h3>GeoJSON</h3>
      <p>
        {{formatFeatureGeometry(feature)}}
      </p>
    </div>
  </div>
</div>

<div *ngIf="drawAction == 'custom'">
  <h1>Custom GeoJSON</h1>
  <div>
    <div class="featureInfo">
      <textarea (change)="addFeature($event.target.value)"></textarea>
    </div>
  </div>
</div>
