<h1>Select layers</h1>

<h2>Background layer</h2>
<select (change)="selectBackgroundLayer($event.target.value)">
  <option *ngFor="let layer of backgroundLayers">{{layer.name}}</option>
</select>

<h2>Predefined sources</h2>
<select (change)="addSource($event.target.value)">
  <option disabled selected value> Select a source </option>
  <option *ngFor="let layer of sources">{{layer.name}}</option>
</select>


<h2>External source:</h2>
<input type="text" placeholder="Capabilities URL" (change)="loadExternalSource($event.target)">

<h2>Layers</h2>
<div class="filter-bar">
  <input type="text" class="search-input" placeholder="Filter layers" [(ngModel)]="searchFilter"/>
</div>
<div *ngIf="status != ''" class="status {{status.indexOf('error') >= 0 ? 'error' : ''}}">
  <div class="statusIcon">
    <i *ngIf="status.indexOf('Loading') >= 0" class="fa fa-circle-o-notch fa-spin"></i><i *ngIf="status.indexOf('error') >= 0" class="fa fa-exclamation-circle"></i>
  </div>
  <div class="statusText">
    {{status}}
  </div>
</div>
<div *ngFor="let info of layerInfo " class="externalSource">
  <div class="sourceHeader">
    <div class="sourceImage">
      <img [src]="info.imageUrl ? info.imageUrl : '/assets/images/default.png'"/>
    </div>
    <div class="sourceData">
      <h3>{{info.name ? info.name : info.url}}</h3>
      <div class="sourceInfo">
        <div class="sourceDescription" *ngIf="info.description">{{info.description}}</div>
        <div class="sourceLink" *ngIf="info.infoUrl"><a href='{{info.infoUrl}}' target="_blank"><i class="fa fa-info-circle fa-lg" aria-hidden="true"></i></a></div>
      </div>
    </div>
  </div>
  <h3>Available layers</h3>
  <div *ngFor="let layer of info.layers  | layerSort | layerFilter:searchFilter " class="layerInfo" (click)="toggleLayer(layer)"><div class="toggle"><input type="checkbox" [checked]="layer.layer.getVisible()"></div><span class="info"><span class="title">{{layer.name}}</span><br/><span class="description">{{layer.description}}</span></span></div>
</div>
