@import '../../../../styles/helpers/variables';

h1{
  margin-bottom: 1.5rem;
}

h2{
  font-size: 1rem;
  margin-bottom: .5rem;
  margin-top:1rem;
}

h3{
  font-size: 0.9rem;
  margin-bottom:1rem;
}

.searchResult{
  display: flex;
  flex-direction: row;
  padding: 0.5rem;
  justify-content: stretch;
  align-items: center;
}

.searchResult:hover{
  cursor:pointer;
  border: 1px solid #dedede;
}

.searchResult i {
  margin-right: 0.5rem;
}

input[type=text]{
  border-radius: $alert-radius;
}
