<app-map *ngIf="(layers | async).backgroundLayers.length > 0" [interaction]="(ui | async).activeSelection" [backgroundLayers]="(layers | async).backgroundLayers" [layers]="(layers | async).layers" [extent]="[-46.933594,16.636192,85.781250,72.867930]" [viewExtent]="(layers | async ).extent" [activeFeature]="(layers | async ).activeFeature" [features]="features"></app-map>

<div class="calendar" *ngIf="(ui | async).calendarDates.length > 0">
  <app-calendar [dateranges]="(ui | async).calendarDates"></app-calendar>
</div>
<div class="legend" *ngIf="(layers | async).layers.length > 0">
  <app-legend [layers]="(layers | async).layers"></app-legend>
</div>
<div class="sidebar">
  <app-sidebar *ngIf="(ui | async).activeAction" [action]="(ui | async).activeAction"></app-sidebar>
  <app-toolbox></app-toolbox>
</div>
<div class="progress-bar" *ngIf="(ui | async).loadingTiles !== (ui | async).loadedTiles">
  <app-progressbar [loadingCount]="(ui | async).loadingTiles" [loadedCount]="(ui | async).loadedTiles"></app-progressbar>
</div>

<div class="chartcontainer" *ngIf="!!(ui | async).showContrast">
  <app-sigmoidcontrast (confirm)="setContrast($event?.alpha, $event?.beta)"  (disable)="disableContrast()" [layer]="(ui | async).showContrast" [extent]="(layers | async ).extent"></app-sigmoidcontrast>
</div>
