@import '../../../styles/helpers/variables';

.sidebar{
  position:absolute;
  top: 2rem;
  left: 0;
  display:flex;
  flex-direction: row;
}


.calendar{
  position:absolute;
  top: 0;
  left: 39%;
  background-color: $primary-color;
  color: $secondary-color;
  -webkit-border-bottom-left-radius: 0.5rem;
  -webkit-border-bottom-right-radius: 0.5rem;
  -moz-border-radius-bottomleft: 0.5rem;
  -moz-border-radius-bottomright: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  padding:0.5rem 3rem;
  padding-top: 1.5rem;
  box-shadow: $default-box-shadow;
}

.legend{
  position: absolute;
  top: 2rem;
  right: 0rem;
  background-color: $primary-color;
  color: $secondary-color;
  -webkit-border-bottom-left-radius: 0.5rem;
  -webkit-border-top-left-radius: 0.5rem;
  -moz-border-radius-bottomleft: 0.5rem;
  -moz-border-radius-topleft: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  border-top-left-radius: 0.5rem;
  padding:1rem 2rem;
  box-shadow: $default-box-shadow;
}

.progress-bar{
  position: absolute;
  bottom: 0px;
  width: 100vw;
}

.chartcontainer {
  position: absolute;
  height: 75%;
  width: 80%;
  top: 12.5%;
  left: 10%;
}
